<div class="card border border-secondary">
  <div class="card-body">
    <h5 class="card-title">Contact Me</h5>
    <ul class="list-group">
      <li class="list-group-item">Email: wyethjackson@gmail.com</li>
      <li class="list-group-item">Phone Number: (608) 287-6330</li>
      <li class="list-group-item"><a href="https://www.linkedin.com/in/wyethjackson/">My LinkedIn</a></li>
    </ul>
  </div>
</div>
