<div class="card border border-secondary">
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <div class="row">
      <div class="col-7 py-2 px-3">
        <p>
          Enjoy these games I have created!
        </p>
      </div>
    </div>
  </div>
</div>
